body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
}
main{
    display: flex;
    width: 30em;
    height: 35em;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 0 15px #00000031;
    & #window{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(10px);
        width: 100%;
        height: 100%;
        border-radius: 30px;
        z-index: 3;
        & form{
            height: 50%;
            width: 70%;
            position: absolute;
            display: flex;
            flex-direction: column;
            row-gap: 1em;
            z-index: 5;
            & h1{
                z-index: 5;
                text-decoration: underline overline orange;
                margin: 0;
            }
            & input{
                z-index: 5;
                box-shadow: 0 0 7px #00000015;
                font-size: 18px;
                padding: 0.8em;
                border-radius: 20px;
                border: none;
            }
            & input:last-child{
                width: fit-content;
            }
        }
    }
    & .mvrect{
        position: absolute;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 15px;
        width: 7em;
        height: 7em;
        backdrop-filter: blur(20px);
        box-shadow: 0 0 7px #0000001f;
        transition: 12s linear;
    }
    & > span:nth-child(even){
        z-index: 2;
    }
    & > span:nth-child(odd){
        z-index: 4;
    }
    & > span:nth-child(2){
        top: -4em;
        left: -8em;
        width: 8em;
        height: 8em;
    }
    & > span:nth-child(3){
        top: 5em;
        right: -2em;
        width: 5em;
        height: 5em;
    }
    & > span:nth-child(4){
        left: -1em;
        top: 7em;
    }
    & > span:nth-child(5){
        bottom: -4em;
        left: 3em;
        width: 9em;
        height: 9em;
    }
    & > span:nth-child(6){
        bottom: 2em;
        right: -4em;
        width: 4em;
        height: 4em;
    }
    @media screen and (max-width: 380px){
        .mvrect{
            display: none;
        }
        main{
            width: 100%;
        }
    }
}